<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Speaker Dang Thai Son</p>

    <a href="/users">List all</a> | 
    <a href="/users/login">Login</a> |
    <a href="/users/reg">Register</a>

    <p>Time: 20h00 -> 22h00, 5/4/2023</p>

  </body>
</html>
