<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Workshop Auth</title>
   <style>
      input{padding: 5px;}
      label{display: inline-block; width: 130px; margin-bottom: 15px;}
      .alert-danger{ padding: 10px; background-color: wheat;}
   </style>
</head>
<body>


    <h1>Login</h1>
    <% if(msg) {%>
      <p class="alert alert-danger"> <%=msg  %> </p>
      <% } %>
    <form action="" method="post">
      <label>Username</label> <input type="text" name="username"> <br>
      <label>Password</label> <input type="password" name="passwd"> <br>
      <label></label> <button type="submit">Login</button>
    </form>

    <a href="/">Back Home</a>

</body>
</html>